# =========================
# Core test framework
# =========================
pytest>=8.2.0

# =========================
# BDD / Cucumber (Behave)
# =========================
behave>=1.2.6
behave-html-formatter>=0.9.10

# =========================
# UI Automation
# =========================
# selenium>=4.21.0
# webdriver-manager>=4.0.2

# =========================
# API Automation
# =========================
requests>=2.32.0

# =========================
# Utilities
# =========================
python-dotenv>=1.0.1
assertpy >=1.0.1
faker>=25.0.0

# =========================
# Optional / Recommended
# =========================
pytest-xdist>=3.6.1       # Parallel execution
allure-behave>=2.13.5     # Behave reporting
